<body>
<div id="sud-btn">
    <input name="updateButton" 
            type="button" 
          value="Update" 
          onclick="updateData()" />
</div>
<script type="text/javascript">

  var dataset;
  var newdata;
  
  var w = 500;
  var h = 400;
  var padding = 20;

  var xScale = d3.scale.linear().range([padding, w-padding]);
  var yScale = d3.scale.linear().range([h-padding, padding]);
  
  var svg = d3.select("#bls_phase4")
        .append("svg")
        .attr("width", w)
        .attr("height", h);

  var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom");

  var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("right");

	d3.json("blsexposures.json", function(data) {
		dataset = data["blsexposures"];
		generateVis();  
		console.log(dataset)
	});

	var generateVis = function () {

    xScale.domain([0, dataset.length]);
    yScale.domain([0, 10]);

		svg.selectAll("circle")
   			.data(dataset)
   			.enter()
   			.append("circle")
        .on("mouseover", function(d) {
            d3.select(this)
              .attr("fill", "orange");
        })
   		  .attr("cx", function(d) {
       		 return xScale(d.run);
   			})
   			.attr("cy", function(d) {
        		return yScale(d.score);
  			})
  			.attr("r", 4);

    svg.append("g")
        .attr("class", "axis") //Assign "axis" class
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);

    svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);
  };

function updateData() {
    d3.json("blsexposures.json", function(data) {
          newdata = data["blsexposures"];
        });

    xScale.domain([0, newdata.length]);
    yScale.domain([0, 10]);

    svg.selectAll("circle")
        .data(newdata)
        .transition()
        .attr("cx", function(d) {
          return xScale(d.run);
        })
        .attr("cy", function(d) {
          return yScale(d.score);
        })
        .attr("r", 4);
      console.log('Updated old data points')

  xAxis.scale(xScale);
  yAxis.scale(yScale);

  svg.select("g")
      .call(xAxis);

//Entering new data
  svg.selectAll("circle")
        .data(newdata)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
          return xScale(d.run);
        })
        .attr("cy", function(d) {
          return yScale(d.score);
        })
        .attr("r", 4);

//Remove old data
  svg.selectAll("circle")
      .data(newdata)
      .exit()
      .remove();
   
    console.log('Click Does Something!')
}
  </script>
</body>