<body>
<div id="voc-btn">
    <input name="refreshButton" 
            type="button" 
          value="Update" 
          onclick="refreshData()" />
</div>

<script type="text/javascript">
  var voc_dataset;
  var voc_newdata;
  
  var w = 500;
  var h = 400;
  var padding = 30;

  var xScale = d3.scale.linear().range([padding, w-padding]);
  var yScale = d3.scale.linear().range([h-padding, padding]);
  
  var voc_svg = d3.select("#bls_install4")
        .append("svg")
        .attr("width", w)
        .attr("height", h);

  var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom");

  var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("right");

	d3.json("targets.json", function(data) {
		voc_dataset = data["blsexposures"];
		generateVoc();  
		console.log(dataset)
	});

	var generateVoc = function () {

    xScale.domain([0, voc_dataset.length]);
    yScale.domain([0, 7]);

		svg.selectAll("circle")
   			.data(voc_dataset)
   			.enter()
   			.append("circle")
        .on("mouseover", function(d) {
            d3.select(this)
              .attr("fill", "orange");
        })
   		  .attr("cx", function(d) {
       		 return xScale(d.run);
   			})
   			.attr("cy", function(d) {
        		return yScale(d.score);
  			})
  			.attr("r", 4);

    voc_svg.append("g")
        .attr("class", "axis") //Assign "axis" class
        .attr("transform", "translate(0," + (h - padding) + ")")
        .call(xAxis);
//X Axis Label
    voc_svg.append("text")
        .attr("x", w/2)
        .attr("y", h)
        .style("text-anchor", "middle")
        .text("BLS Run No.");

    voc_svg.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(" + padding + ",0)")
        .call(yAxis);
//Y Axis Label
    voc_svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 + padding/2)
        .attr("x", 0 - h/2)
        .style("text-anchor", "middle")
        .text("Validation of Cognition (VoC)");

  };

function refreshData() {
    d3.json("targets.json", function(data) {
          voc_newdata = data["blsexposures"];
        });

    xScale.domain([0, voc_newdata.length]);
    yScale.domain([0, 7]);

    voc_svg.selectAll("circle")
        .data(voc_newdata)
        .transition()
        .attr("cx", function(d) {
          return xScale(d.run);
        })
        .attr("cy", function(d) {
          return yScale(d.score);
        })
        .attr("r", 4);
      console.log('Updated old data points')

  xAxis.scale(xScale);
  yAxis.scale(yScale);

  voc_svg.select("g")
      .call(xAxis);

//Entering new data
  voc_svg.selectAll("circle")
        .data(voc_newdata)
        .enter()
        .append("circle")
        .attr("cx", function(d) {
          return xScale(d.run);
        })
        .attr("cy", function(d) {
          return yScale(d.score);
        })
        .attr("r", 4);

//Remove old data
  voc_svg.selectAll("circle")
      .data(voc_newdata)
      .exit()
      .remove();
   
    console.log('Click Does Something!')
}
  </script>
</body>