<h3>VR Therapy Session Schedule </h3>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span9">
			<div id='calendar'></div>
		</div>
		<div class="span3 alert alert-info">
			<%= render 'quickform' %>
		</div>
	</div>
</div>